<h2>LOGIN</h2>

<form action="/auth/login" method="post">

<label for="email">Email:</label>
<input type="email" name="email" placeholder="Email">
<br>
<br>
<label for="password">Password: </label>
<input type="password" name="passwd" placeholder="*******">
<br>
<br>
<button type="submit">Login</button>
</form>
<br>
{{message}}
<br>
<br>
{{#unless user}}
  <div>
    <a href="/auth/google">Login With Google</a>
  </div>
{{/unless}}