<nav class="navbar mt-2" style="background-color: none;">
  <a class="navbar-brand" href="/">all my plants</a>
</nav>
<br /><br />
<main class="main-container">
  <h1>Sign up</h1>

  {{#if message}}
  <p class="error-msg">{{message}}</p>
  {{/if}}

  <form action="/auth/signup" method="post" class="form">
    <input type="text" name="name" placeholder="name" class="form__input">
    <br />
    <input type="email" name="email" placeholder="email" class="form__input">
    <br />
    <input type="password" name="password" placeholder="password" class="form__input">
    <br />
    <button type="submit" class="button button--shadow">Sign up</button>
  </form>
  <br />
  <p>Already have an account? <a href="/auth/login">Login</a> instead.</p>