<h2>SIGNUP</h2>

<form action="/auth/signup" method="post">

<label for="username">Username:</label>
<input type="test" name="username" minlength="1" placeholder="Username">
<br>
<label for="password">Password: </label>
<input type="password" minlength="1" name="password" placeholder="*******">
<br>
<br>
{{message}}
<br>
<br>
<button type="submit">Signup</button>

</form>
