<nav class="navbar mt-2" style="background-color: none;">
  <a class="navbar-brand" href="/">all my plants</a>
</nav>
<br/><br/><br/><br/>
<main class="main-centered">
<h2>Verify your email address</h2>
<p class="infotextbox">Please click on the link in the email we just sent you, and verify your account.</p>
</main>