<nav class="navbar fixed-top mt-2" style="background-color: none;">
  <a class="navbar-brand" href="/">all my plants</a>
</nav>
<br /><br /><br /><br />
<h2>Verify your email address</h2>
<main class="form-container">
<p class="infotextbox">Please click on the link in the email we just sent you, and verify your account.</p>
</main>