<h2>Add some details to your plant</h2>
<form action="/garden/addDetails/{{myPlant.id}}" method="post">


  <br>
<label for="">Nickname:</label>
<input type="text" name="nickname">
 <label for="">Note:</label>
  <input type="text" name="note">
 <label for="">Water amount:</label>
   <input type="text" name="water">
<label for="">Optimal position:</label>
   <input type="text" name="position">

<button type="submit">Submit</button>
</form>