<h2>Add some details to your plant</h2>
<form action="/garden/addDetails/{{myPlant.id}}" method="post">
  <br>
  <label for="">Add a nickname:</label>
  <input type="text" name="nickname">
  <label for="">Add a note:</label>
  <input type="text" name="note">
  <label for="">Select water amount:</label>
  <select name="water">
    <option>Only little water</option>
    <option>Average amount of water</option>
    <option>Big amount of water</option>
  </select>

  <label for="">Select optimal position:</label>

  <select name="position">
    <option>Sun</option>
    <option>Shadow</option>
  </select>



  <button type="submit">Submit</button>
</form>

<p>Upload an image</p>