  <div class="container">
<nav class="navbar fixed-top navbar-dark mt-2" style="background-color: none;">
  
  <a class="navbar-brand" href="/garden">plant app logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    </div>


  <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav mt-2 ">
      <li class="nav-item">
        <a class="nav-link nav-own" href="/auth/logout">Log out</a>
      </li>

            <li class="nav-item">
        <a class="nav-link nav-own" href="/auth/logout">Log ddout</a>
      </li>
    </ul>
  </div>
</nav>


<h2>Add a plant</h2>
<form action="/garden/addPlant" method="post" class="form-container">
  <label for="common_name">Enter the common or scientific name of the plant you have at home, or a plant you are curious
    about. &#42;</label>
  <br />
  <input type="text" name="common_name" placeholder="Name" required>
  {{!-- <label for="">Scientific plant name:</label>
  <input type="text" name="scientific_name"> --}}
  {{!-- <label for="">Nickname:</label>
  <input type="text" name="nickname">
<label for="">Note:</label>
  <input type="text" name="note">
  <p>Upload an image of your plant</p> --}}
  <br />
  <button type="submit" class="shadow">Add to my garden</button>
</form>
<p>{{data}}</p>