Please chose which kind of plant you own:

{{#each fullData}}

{{#each this.data}}

{{#if this.common_name }}
{{#if this.images.0.url}}

<form action="/garden/chosePlant" method="post">
<p>{{this.common_name}}</p>

<img src="{{this.images.0.url}}" height="250px" alt=""> 
<input type="text" name="id" value={{this.id}} id="chosePlantInputId">

<button type="submit">Select</button></a>
</form>

{{/if}}
{{/if}}
{{/each}}
{{/each}}


