<nav class="navbar mt-2" style="background-color: none;">
  <a class="navbar-brand" href="/garden">all my plants</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars hamburger"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="d-flex justify-content-end">
      <ul class="navbar-nav mt-2">
        <li class="nav-item">
          <a class="nav-link nav-own" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-own" href="/auth/logout">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main>
  <h2>Add a plant</h2>
  <div class="garden-container-centeredtext">
    <a href="/garden" class="text-left">&lt; my garden</a>
    <br />
    <img id="chosePlantImg" src="/images/lawn.png">
    <p>Please choose the kind of plant you own:</p>

    {{#each fullData}}

    {{#each this.data}}

    {{#if this.common_name }}
    {{#if this.images.0.url}}

    <form action="/garden/chosePlant" method="post" class="form-choseplant">
      <p class="large capital">{{this.common_name}}</p>

      <img src="{{this.images.0.url}}" alt="" class="chosePlant-img">
      <input type="text" name="id" value={{this.id}} id="chosePlantInputId">

      <button type="submit" class="btn-choseplant bg-blue btn-shadow">Select</button>
    </form>

    {{/if}}
    {{/if}}
    {{/each}}
    {{/each}}

    <a href="/garden" class="text-left">&lt; my garden</a>

  </div>

</main>