<nav class="navbar mt-2" style="background-color: none;">
  <a class="navbar-brand" href="/garden">all my plants</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars hamburger"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="d-flex justify-content-end">
      <ul class="navbar-nav mt-2">
        <li class="nav-item">
          <a class="nav-link nav-own" href="/auth/logout">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main>
  
<div class="infotextbox">Please choose the kind of plant you own:

{{#each fullData}}

{{#each this.data}}

{{#if this.common_name }}
{{#if this.images.0.url}}

<form action="/garden/chosePlant" method="post">
<p>{{this.common_name}}</p>

<img src="{{this.images.0.url}}" height="250px" alt=""> 
<input type="text" name="id" value={{this.id}} id="chosePlantInputId">

<button type="submit">Select</button></a>
</form>

{{/if}}
{{/if}}
{{/each}}
{{/each}}

</div>

</div>

</main>