Please chose which kind of plant you own: 

<form action="garden/chosePlant" method="post">

  <select name="plantSelection">

{{#each response}}


 <option value ="selectedPlant" > {{this.common_name}} </option>

{{/each}}


</select>
<button type="submit">Submit</button>
</form>