Please chose which kind of plant you own:

<form action="/garden/chosePlant" method="post">
  <select name="plantSelection">
{{#each response}}
 <option value ={{this.id}} > {{this.common_name}} </option>
  
 
{{/each}}
</select>

<br>
<label for="">Nickname:</label>
<input type="text" name="nickname">
 <label for="">Note:</label>
  <input type="text" name="note">
  <p>Upload an image of your plant</p>
 <label for="">Water amount:</label>
   <input type="text" name="water">
<label for="">Optimal position:</label>
   <input type="text" name="position">

  <p>Upload an image of your plant</p>
<button type="submit">Submit</button>
</form>