<nav class="navbar mt-2" style="background-color: none;">
  <a class="navbar-brand" href="/garden">all my plants</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars hamburger"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="d-flex justify-content-end">
      <ul class="navbar-nav mt-2">
        <li class="nav-item">
          <a class="nav-link nav-own" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-own" href="/auth/logout">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main class="main-container">
  <h1 class="align-flex-start">add a plant</h1>

  <div class="garden-container">
    <a href="/garden" class="nav-back-link">&lt; my garden</a>

    <img class="flower-icon" src="/images/bud.png" alt="">

    <p>Great! But there is more than one kind of {{plant}}. </p>

    <form action="/garden/selectPlant" method="post" class="form">
      {{#each response}}
      <ul id="selectPlantInputId">
        <li>{{this.common_name}}</li>
        <li><input type="text" name="id" value="{{this.id}}"></li>
      </ul>
      {{/each}}

      <button type="submit" class="button button--shadow">Select the one you
        want</button>
    </form>
  </div>

</main>