{{#if user}}
<nav class="navbar mt-2" style="background-color: none;">
  <a class="navbar-brand" href="/garden">all my plants</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars hamburger"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="d-flex justify-content-end">
      <ul class="navbar-nav mt-2">
        <li class="nav-item">
          <a class="nav-link nav-own" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-own" href="/auth/logout">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{{/if}}
{{#unless user}}
<nav class="navbar mt-2" style="background-color: none;">
  <a class="navbar-brand" href="/">all my plants</a>
</nav>
{{/unless}}

<main>

  <h1>about</h1>
  <div class="garden-container">
    {{!-- <div class="form-container"> --}}
    <h1 class="green text-centered">all my plants</h1>
    <div class="slogan text-centered">look after them and they'll look after you</div>
    {{!-- </div> --}}
    <p>
      all my plants is the app that finally lets you care for your plants the right way. Add all the plants you have at
      home or the ones you would like to have into your virtual garden and keep track of their specific care
      requirements.
    </p>
    <br />    
    <br />
    <h2>who and what</h2>
    <p>
      This is the second project of a Web Development Bootcamp at Ironhack, Berlin.
    </p>
    <p>
      Who's behind the project?
    </p>

    <ul class="about-img-container">
      <li><a href="https://www.linkedin.com/in/camille-ory-653478161/" target="_blank"><img src="/images/camille.jpeg"
            alt="camille" class="rounded-circle btn-shadow"><br />camille</a></li>
      <li><a href="https://www.linkedin.com/in/hardy-marie/" target="_blank"><img src="/images/marie.jpeg" alt="marie"
            class="rounded-circle btn-shadow"><br />marie</a></li>
      <li><a href="https://www.linkedin.com/in/manuel-b%C3%BCrgel/" target="_blank"><img src="/images/manu.jpeg"
            alt="manu" class="rounded-circle btn-shadow"><br />manuel</a></li>
    </ul>

    <a href="/" class="btn-choseplant bg-green btn-shadow">Start your plant discovery journey!</a>
    <br />

  </div>
</main>