{{#if user}}
<nav class="navbar fixed-top mt-2" style="background-color: none;">
  <a class="navbar-brand" href="/garden">all my plants</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars hamburger"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="d-flex justify-content-end">
      <ul class="navbar-nav mt-2">
        <li class="nav-item">
          <a class="nav-link nav-own" href="/auth/logout">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{{/if}}

<main class="form-container">
  <br />
  <br />
  <h1>all my plants</h1>
  <br />

  {{#if user}}
  <div class="infotextbox">
    <a href="/garden">Go to your garden</a>
  {{#if user.username}}, {{user.username}}{{/if}}!
  </div>
  {{/if}}

  {{#unless user}}

  <a class="signup-btn btn-shadow" href="/auth/login">Login</a>
  <a class="signup-btn btn-shadow" href="/auth/google">Login with Google</a>
  <a class="signup-btn btn-shadow" href="/auth/signup">Sign up</a>

  {{/unless}}

</main>
