{{#if user}} Hi {{user.username}}, you are logged in. <a href="/auth/logout">Logout</a>{{/if}} 

<h1>PLANT APP</h1>
<h2>Here will be a good looking start page</h2>

{{#if user}}Go to your <a href="/garden">Garden</a>.{{/if}}

<br>
<br>

{{#unless user}}
<a href="/auth/signup">Signup</a>

<a href="/auth/login">Login</a>
{{/unless}}