{{#if user}}
<nav class="navbar mt-2" style="background-color: none;">
  <a class="navbar-brand" href="/garden">all my plants</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars hamburger"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="d-flex justify-content-end">
      <ul class="navbar-nav mt-2">
        <li class="nav-item">
          <a class="nav-link nav-own" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-own" href="/auth/logout">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{{/if}}

<main class="main-container">
<div class="form">
  <br/>
  <br/>
  <h1>all my plants</h1>
  <div class="slogan">look after them and they'll look after you</div>

  {{#if user}}
  <div class="infotextbox">
    <a href="/garden">Go to your garden</a>
    {{#if user.username}}, {{user.username}}{{/if}}!
  </div>
  {{/if}}

  {{#unless user}}

  <a class="button button--transparent button--shadow" href="/auth/login">Login</a>
  <a class="button button--transparent button--shadow" href="/auth/google"><img src="images/google-logo-PNG.png" alt="" height="35px" class="align-self-center">Login with Google</a>
  <a class="button button--transparent button--shadow" href="/auth/signup">Sign up</a>

  {{/unless}}



{{!-- <section class="footer">   --}}
  <a href="/about" class="font-xlarge margin-top-60">About</a>
{{!-- </section> --}}

</div>

</main>